amqp==5.3.1
asgiref==3.8.1
bcrypt==4.3.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.44.0
diff-match-patch==20241021
Django==5.1.7
django-ckeditor==6.7.2
django-ckeditor-5==0.2.17
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.3
django-debug-toolbar==5.1.0
django-filter==25.1
django-import-export==4.3.7
django-jazzmin==3.0.1
django-js-asset==3.1.2
django-mathfilters==1.0.0
django-taggit==6.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
enviro==0.0.2
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
idna==3.10
import-export==0.3.1
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==24.2
pi==0.1.2
pillow==11.1.0
PyJWT==2.9.0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
setuptools==67.8.0
six==1.17.0
SQLAlchemy==2.0.40
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.13.2
uritemplate==4.1.1
urllib3==2.3.0
vine==5.1.0
Werkzeug==3.1.3
